header {
  background-color: rgb(233, 58, 58);
  text-align: center;
  padding: 20px 0px 10px 0px;
  color: black;
  margin-bottom: 0px;
}

header p {
  font-size: 25px;
}

.body-index {
  margin: 0 auto;
  text-align: center;
  background-color: thistle;
}

.columns {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.text {
  padding-top: 100px;
}

.letter {
  margin: 0 auto;
  padding: 0px;
  width: 400px;
  padding: 50px 50px 20px 50px;
}

.letter:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: all 200ms ease-in-out;
}

.container {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(234, 234, 234);
  padding: 50px;
  border-radius: 5px;
}

.row {
  margin: 30px;
}
